@import '~antd/dist/antd.css';


.colleges{
    width:'500px';
    display: flex;
    justify-content: center;
}

.college{
    width: '300px';
    display: inline-block;
    margin-right:40px;
}
.major{
    width: '200px';
    display: inline-block;
    margin-left:5px;
    margin-right:50px;
}
