@import '~antd/dist/antd.css';
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.reg {
    font-family: Chosunilbo_myungjo;
    display: inline-block;
    margin-top: 20px;
}
.reg h2{
    margin-left: 30px;
}
.reg_font2{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding-right: 50px;
    padding-left:50px;
 }

.reg_font2 h4{
    padding:15px 0px;
    border-bottom: 2px solid #e0e0e0;
    letter-spacing: 5px;
    
}

 .photoEdit{
    display: inline-block;
 }
.photoEdit img{
    background:#f0f2f5;
    width: 180px;
    height: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
}
.photoEdit input{
    padding:10px;
    margin-left:5%;
}
.photoEdit Button{
    position: relative;
    left: 100px;
    bottom: 40px;
}

