@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .navigation{
      font-family: S-CoreDream-3Light;
      font-size:14px;
      border-right: solid 1px #e8e8e8;
      overflow: auto;
      box-shadow: 0 0 30px #f3f1f1;
      background-color: white;
      display: flex;
      float: left;
      max-height: 100vh;
  }
  
