@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.table {
  font-family: Chosunilbo_myungjo;
  text-align: center;
}
.table_grade {
  font-family: Chosunilbo_myungjo;
  display: inline-block;
  width: 60vw;
  height: 20vh;
  text-align-last: center;
}

.grade_loading{
  font-family: "Chosunilbo_myungjo";
  display: flex;
  justify-content: center;
  padding-top:35vh;
  font-weight:300;
}

.table_chart{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

