@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font_abh{
    font-family: 'Chosunilbo_myungjo';
    display:inline-block;
    width: 60vw;
}
.absense_table_user{
    text-align-last: center;
}
.absense_header{
    padding-top:30px
}
.absense_config{
    padding-top:10px
}

.anticon svg{
    vertical-align: initial;
}
