@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.table_menu{
    font-family: Chosunilbo_myungjo;
    padding-top :20px;
    text-align: center;
}
.table_user{
    padding-top:30;
    font-family: Chosunilbo_myungjo;
    display: inline-block;
    width: 73vw;
    text-align-last: center;
}

.head{
    font-family: Chosunilbo_myungjo;
    margin-bottom: 30;
}

.header h2{
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 5px;
}
.ant-card-body{
    padding:0
}