@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font{
    font-family: Chosunilbo_myungjo;
}
.studentInfo_header h2{
   padding-top :30px
}
.studentInfo_spinner{
    margin-top:20px;
    display: flex;
    justify-content: center;
}

.studentInfo_table{
    margin-top:30px;
    display: inline-block;
    width: 60vw;
    text-align-last: center;
}
