@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mypage{
    font-family:Binggrae-Bold;
    position: absolute;
    top:50%;
    left:60%;
    transform: translate(-50%,-50%);
    width: 800px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

.my_left_info{
    width: 35%;
    background: linear-gradient(to right, #112749, #8583e0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 60px 25px 0px 25px;
    color:#ffff;
    text-align: center;

}

.photo img{
    margin-bottom: 10px;
    border-radius: 5px;
}

.my_right_info{
    width: 70%;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}


