@font-face {
    font-family: "Chosunilbo_myungjo";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
.table_chart_graph{
    display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.table_graph{
    font-family: Chosunilbo_myungjo;
  text-align: center;
}